[2018-04-25 17:45] xyhuang opened #1 "Add initial files"
readme, license, gitignore

[2018-04-25 17:46] xyhuang opened #2 "set up initial e2e test"
Add a barebone workflow for e2e test.

[2018-04-25 17:59] xyhuang commented on #1
/assign xyhuang

[2018-04-25 17:59] xyhuang commented on #2
assign /xyhuang

[2018-04-25 18:00] xyhuang commented on #2
/assign xyhuang

[2018-04-27 18:09] xyhuang opened #5 "Add basic benchmark workflow"
The benchmark workflow is implemented as Argo workflow, and should consist of config retrieving, benchmark running, and reporting steps.

[2018-04-27 18:09] xyhuang commented on #5
/assign xyhuang

[2018-04-27 18:13] xyhuang opened #6 "Add an example to show how the benchmark workflow works"
We need to have an example/reference implementation to demonstrate how to work with the benchmark workflow.

[2018-04-27 18:13] xyhuang commented on #6
/assign xyhuang

[2018-05-02 14:12] xyhuang opened #10 "Add python tests to test workflow"

[2018-05-02 14:12] xyhuang opened #11 "Add jsonnet tests to test workflow"

[2018-05-02 14:15] xyhuang opened #12 "Add e2e tests for kubebench deployment and job running"

[2018-05-02 14:16] xyhuang opened #13 "Add test codes for kubebench ksonnet package contents"

[2018-05-02 14:17] xyhuang opened #14 "Add tests for image contents"

[2018-05-02 14:17] xyhuang opened #15 "Documentation of kubebench design"

[2018-05-02 14:18] xyhuang opened #16 "Need getting-started user guide"

[2018-05-02 14:29] xyhuang opened #17 "POC: "step-run" fails during long benchmark run"
This is caused by using "successCondition" in the Argo step to track the status of the created kubeflow resources (tfjob), which causes the step to timeout in a few minutes if the "successCondition" is not met. However the kubeflow resources running benchmarks can naturally take longer time than the step can wait.
We need a more proper way to track the status of the created kubeflow resources.

[2018-05-02 14:35] xyhuang opened #18 "Support for distributed tf-cnn benchmark"
We need to provide support for distributed benchmarks, a starting point could be using tf-cnn-benchmark https://github.com/tensorflow/benchmarks https://github.com/kubeflow/kubeflow/tree/master/tf-controller-examples/tf-cnn

We need to provide images for the whole workflow, which should consists of configurator, runner, and reporter, where the runner should adapt the tf-cnn benchmark to a tfjob.

[2018-05-02 14:38] xyhuang opened #19 "Support for benchmarks based on openmpi job?"
The openmpi job provides a way to run distributed training https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi. Shall we investigate how to port that to kubebench?

[2018-05-02 14:40] xyhuang opened #20 "Add example/tutorial for distributed tf-cnn benchmark"
This should provide an e2e tutorial to show how to create a tf-cnn benchmark with kubebench, and how to get the results.

[2018-05-02 18:38] xyhuang commented on #15
/assign @xyhuang

[2018-05-02 21:15] libbyandhelen opened #21 "Choice between PVC and Artifact Repository"

[2018-05-03 22:06] ddutta opened #22 "Incorporate workloads from mlperf.org"
https://github.com/mlperf/reference ... pick any reference and ensure Kubebench workflow can incorporate this

[2018-05-04 00:39] xyhuang commented on #21
Good point. What would be the advantage of artifact over pvc? We can support both if there is need. But I think pvc might provide a more flexible way of storage, e.g. for non-cloud setup.

[2018-05-04 00:40] xyhuang commented on #22
+1. We could use those individual workloads to verify the usability/flexibility of the kubebench workflow.

[2018-05-08 17:26] xyhuang commented on #10
/assign @xyhuang

[2018-05-08 17:26] xyhuang commented on #11
/assign @xyhuang

[2018-05-08 17:50] #1 closed

[2018-05-08 17:50] #2 closed

[2018-05-08 17:50] #5 closed

[2018-05-08 17:50] #6 closed

[2018-05-09 09:27] xyhuang commented on #18
We may start with a simple local training version first.
/assign @libbyandhelen
/assign @xyhuang

[2018-05-23 01:25] lluunn opened #30 "[Discussion] Support for benchmarking serving"
What's the plan for serving benchmark?

We need to
- configure and generate the traffic pattern.
- collect metrics

any thought?

[2018-05-25 20:13] xyhuang commented on #30
Thanks for bringing this up! I think we may start with building a traffic generator/simulator and result collector, and connect with tfserving/seldon as a POC. However to make it really useful it would be good to see what problem are we looking to solve through serving benchmarks. Some questions i have:
- when we talk about serving benchmark, do we only care about the inference performance of a ML

[2018-06-04 19:15] #15 closed

[2018-06-04 22:33] xyhuang commented on #18
partially addressed by #26 #28 #29, we still need to fully verify that the distributed version works without issue

[2018-06-04 23:06] xyhuang commented on #12
/assign @xyhuang

[2018-06-05 21:04] xyhuang opened #31 "Configurator should generate manifests directly from kubeflow job prototypes"
Right now we use a separate set of job prototypes nested in the configurator itself, this can be buggy. Ideally we should use the prototypes from kubeflow directly, with necessary modifications mixed in.

[2018-06-05 21:11] xyhuang opened #32 "Split reporter into result parsing and reporting"
Currently the reporter has 2 functionalities: parse the results from benchmark generated logs, and report the results to a storage location. The former is bound to specific benchmark runners, while the latter should be common across all benchmark runners.
We need to split the reporter into 2 different steps, and turn the reporting part into a common module. We also need a common protocol for feedi

[2018-06-05 21:12] xyhuang commented on #12
/priority p1

[2018-06-05 21:12] xyhuang commented on #10
/priority p1

[2018-06-05 21:13] xyhuang commented on #11
/priority p1

[2018-06-05 21:13] xyhuang commented on #31
/priority p2

[2018-06-05 21:13] xyhuang commented on #32
/priority p2

[2018-06-05 21:13] xyhuang commented on #17
/priority p2

[2018-06-05 21:14] xyhuang commented on #18
/priority p1

[2018-06-05 21:14] xyhuang commented on #16
/priority p1

[2018-06-05 22:01] xyhuang commented on #16
/assign @xyhuang

[2018-06-05 22:03] xyhuang commented on #22
/priority p3

[2018-06-05 22:39] xyhuang commented on #31
/remove-priority p2

[2018-06-05 23:43] xyhuang opened #33 "remove --log-dir from runner"
The example tf-cnn-benchmark runner has a required --log-dir argument, this is not user friendly as it requires user to change their custom runner codes. We can remove this argument, and maybe provide a environment variable pointing to the auto mounted volume instead.

[2018-06-05 23:43] xyhuang commented on #33
/priority p2

[2018-06-05 23:59] xyhuang opened #34 "re-consider how we use pvc"
Currently it is mandatory for user to provide a pvc when creating a kubebench job, which is mainly used in 3 ways:

1) store pre-defined benchmark configs from user
2) store intermediate results during benchmarks
3) store outputs and results

where 1) and 3) are supposed to be replaceable by cloud location in the future, and 2) is not necessary to be controlled by user. It seems that we should pro

[2018-06-05 23:59] xyhuang commented on #34
/priority p2

[2018-06-06 00:22] xyhuang opened #35 "Run a list of benchmarks automatically"
We need to be able to pick up a list of benchmarking configs and run them 1-by-1 automatically. We can start with providing a helper script that creates kubebench-job with different configs repeatedly.

[2018-06-06 00:25] xyhuang opened #36 "Support getting benchmark configs from cloud locations"
We should allow user to store their config files/db in a cloud based location, and pick up the configs from there in a configurator.

[2018-06-06 00:27] xyhuang opened #37 "Support pushing results to cloud locations"
We should allow user to specify a cloud location (e.g. big query) where they would like to place benchmark results, and have a reporter to push results to there.

[2018-06-12 19:09] swiftdiaries opened #38 "Run kubebench with Freeflow enabled"
It'd be interesting to see the difference in performance that Freeflow provides for distributed training.
https://github.com/joyq-github/TensorFlowonK8s/blob/master/FreeFlow.md
This describes the steps for running freeflow.

[2018-06-14 18:16] jlewi opened #39 "What is the initial milestone for kubbench?"
What is the initial milestone for kube bench?

Are we planning to use Kube bench to regularly run a set of benchmarks and publish them? For example, would we run TFCNN regularly and publish those metrics?

Are we planning on publishing benchmarks for some of the other operators like horovod?

[2018-06-14 21:38] ddutta commented on #39
As per our thread:
- We are planning to have the initial Kubebench ready for 0.3 and
- have regular benchmarks (eventually nightly for a subset).
- In addition, we are planning to leverage the MLPerf community for standardized workloads.

[2018-06-14 21:47] xyhuang commented on #39
hi @jlewi, here is a list of features we plan to provide by 0.3:

1. support different frameworks including tf, pytorch, mpi, and support distributed training benchmarks (all backed by kubeflow's native tf/pytorch/mpi jobs).
1. allow user to customize benchmark jobs with either kubeflow's or their own ksonnet prototypes.
1. provide an e2e example with TF-CNN benchmarks.
1. support storage of bench

[2018-06-15 19:41] jlewi commented on #39
This looks fantastic to me.

Any thoughts about benchmarking TFServing particularly with GPUs?

/cc @rongou

[2018-06-15 23:49] xyhuang commented on #39
We are willing to include serving/inference benchmarks in the near future, I will take a deeper look into serving and update back (we can keep track of that in #30).

But I think an initial idea is maybe start with a simulator that generates workloads and collects results, and have it deployed along with the tfserving jobs.

Wrt tfserving+GPU I guess it would not be much different from non-GPU in

[2018-06-17 01:55] xyhuang opened #45 "example benchmarks using fairseq and tensor2tensor?"
We could add this as an example.
https://www.facebook.com/photo.php?fbid=10102604644134681&set=a.10102284137612321.1073741837.61013326&type=3&theater

[2018-06-19 23:59] jlewi commented on #39
A simulator seems like a great idea.

[2018-06-20 18:03] rongou commented on #39
I don't know much about NVIDIA's effort on tfserving+GPU. Trying to find out more.

[2018-06-21 12:51] jlewi commented on #39
@rongou  Maybe they would be interested in helping include benchmarks for DL inference server?
https://github.com/NVIDIA/dl-inference-server

[2018-06-21 17:04] rongou commented on #39
@anfeng any ideas?

[2018-06-22 07:33] gaocegege commented on #39
I am really interested in the benchmark of Kubeflow, thus I hope I could help you in 0.3 or 1.0.

[2018-06-22 07:41] gaocegege commented on #22
@ddutta @xyhuang

I am wondering if we could see the result of mlperf, they have a website to send submissions but I can not find any result now https://github.com/mlperf/submissions

[2018-06-22 19:11] xyhuang commented on #22
@gaocegege I think their submissions are not open yet, should be open in the next few months.

[2018-06-25 07:23] xyhuang opened #46 "need an actual smoke test"
Right now we have a placeholder for job test in the e2e workflow. We need an actual smoke test, with a dummy benchmark job. The test need to cover followings:
- create config file in a pvc mount
- create kubebench job and run
- check results from pvc mount
- clean up

[2018-06-25 18:19] #16 closed

[2018-07-04 09:23] xyhuang opened #48 "Improve kubebench API"
We need to improve API for kubebench job. Current idea is to have 2 tiers of parameters, where the first tier specifies the kubebench job workflow (e.g. location of second tier configs, type and location of outputs and reports, etc.), the second tier specifies the tfjob (and the like) that includes job specific parameters. The reason we need 2 tiers of config is because we want to decouple the kub

[2018-07-04 10:23] xyhuang commented on #48
/label improvement/usability

[2018-07-04 10:46] gaocegege commented on #48
@jlewi Could we give @xyhuang the permission to allow him to add labels for issues.

[2018-07-05 19:58] xyhuang commented on #48
/label improvement/usability

[2018-07-06 01:08] xyhuang opened #50 "Improve kubebench workflow"
Here is the workflow I would suggest:

- step1: run configurator
  configurator is in kubebench controller image that takes a tfjob config file and generates a tfjob manifest.
- step2: run job
  the job uses a user provided image to run distributed benchmark codes, the job parameters are specified in step1 output.
- step3: wait for job finish
  we need to hold the workflow until job finishes, we c

[2018-07-06 01:49] gaocegege commented on #48
Should we define outputProcessorCmd as a slice instead of a string?

[2018-07-06 17:54] jlewi commented on #48
@xyhuang should have permissions now.

[2018-07-09 05:43] ramdootp opened #51 "tf-job pkg installation is not required, README needs an update"
tf-job pkg installation is not required, README needs an update

[2018-07-09 08:48] ramdootp commented on #51
1. tf-job pkg installation is not required,
2. ks param set ${JOB_NAME} name ${CONFIG_NAME} <<<  name cant be config name
kubectl get -o yaml workflows ${JOB_NAME} << name from above should be used here
3. Until clusterrole is set for cluster-admin in GKE, the job couldnt write o/p to nfs. For external users please check/figure what is the ideal setting.

[2018-07-13 23:22] xyhuang commented on #48
/assign

[2018-07-16 01:35] gaocegege commented on #50
Would we create argo workflow or ksonnet config in step 1?

[2018-07-16 01:37] gaocegege commented on #48
In the future, we could implement a default logic about reporter and output processor to simplify the application

[2018-07-17 06:21] xyhuang commented on #50
@gaocegege argo workflow is created before running all the steps, the argo workflow is defined by the 1st tier config as mentioned in #48.  step 1 runs inside the argo workflow as a "step", the config file it takes is the 2nd tier config as mentioned in #48.

[2018-07-17 07:00] xyhuang commented on #48
@gaocegege i think a default logic of reporter is very needed (e.g. a default reporter writing results to sql db or csv file etc.), but the output processor would be more specific to user's own tf jobs (which is supposed to parse user's own job outputs), it might be possible to have a reference implementation for example use cases.
on a different note, i think a collection of reporters should be p

[2018-07-17 07:04] gaocegege commented on #48
Yeah, I agree with you. I think we could have a reference implementation for the output processor. I am not sure if we could implement a general one to cover most use cases. If we do, it will be better.

[2018-07-18 06:34] ramdootp opened #52 "kubeflow-core component creation issue on the latest"
level=error msg="no prototype names matched 'kubeflow-core'"
level=error msg="could not find component: \"kubeflow-core\" is not a component or a module"
level=error msg="could not find component: \"kubeflow-core\" is not a component or a module"

[2018-07-18 08:10] xyhuang commented on #52
apparently there is no more kubeflow-core in the latest kubeflow. we need to update the doc.

[2018-07-25 10:27] jckwon opened #54 "Cannot install kubench"
Hello.
I'm following the installation guide.
`ks registry add kubebench github.com/kubeflow/kubebench/tree/master/kubebench`

But I found that this command is not working...

Here is my log

`ERROR could not find ksonnet app`

I already  checked ksonnet and kubeflow are working properly

[2018-07-28 01:09] xyhuang commented on #54
hi jckwon, you need to `cd` into the ksonnet app's directory (i.e. the one created by `ks init`) to perform other ks commands.
Also, we are making a few changes in the readme due to recent changes in Kubeflow, you might want to check out PR #57 till it gets merged.

[2018-07-31 22:01] #51 closed

[2018-07-31 22:24] xyhuang commented on #52
/close

[2018-07-31 22:24] #52 closed

[2018-07-31 22:26] xyhuang commented on #48
/priority p1

[2018-07-31 22:26] xyhuang commented on #50
/priority p1

[2018-08-02 16:01] jckwon commented on #54
I followed your instruction and succeeded in installing Kubebench. Thank you for your help.

[2018-08-06 10:29] xyhuang commented on #54
this is weird... i will take a deeper look and get back to you.

[2018-08-06 20:35] xyhuang opened #60 "namespace of kubeflow job should be same as that of kubebench workflow by default"
since the tf-job is configured through a separate config file, the namespace of the job can be different from where we launch the kubebench workflow, this can be both confusing to user and cause fatals e.g. persistent volume cannot be shared between runner and reporter in different namespaces.
We should fix this in the refactored workflow.
One way to do it is to let the configurator modify the gen

[2018-08-06 20:35] xyhuang commented on #60
/priority p1

[2018-08-06 22:53] xyhuang opened #61 "configurator fails to generate manifest when num_gpu > 0"
the issue was reported in #54. this is probably caused by incorrect order of args in the configurator's jsonnet file https://github.com/kubeflow/kubebench/blob/master/components/common/configurator/tf-job.jsonnet#L30

we won't have this issue in the new version of configurator but it can be a quick fix to unblock people trying out the old version.

[2018-08-07 04:27] xyhuang commented on #46
/priority p1

[2018-08-07 04:54] xyhuang opened #62 "kubeflow job monitor/waiter"
we need a monitor function in the kubebench controller image that polls status of deployed kubeflow jobs until the desired status (success/fail/etc.) is met. the monitor will be run in the "wait for job finish" step in #50. It will take a job manifest (generated in the previous step), a success/failure condition, and an optional timeout as input, and return error if failure condition or timeout is

[2018-08-07 04:57] xyhuang commented on #62
/priority p1

[2018-08-07 06:15] xyhuang opened #63 "refactor reporter"
The refactored reporter should go into the kubebench controller image. It should fit in the "run reporter" step in #50. It should take a key-value styled input from previous step and send the record to an external file or db. The initial supported data destination are csv and big query.

[2018-08-07 06:15] xyhuang commented on #63
/priority p1

[2018-08-07 06:16] xyhuang commented on #63
/assign

[2018-08-07 14:43] xyhuang commented on #46
fixed by #59

[2018-08-07 14:43] #46 closed

[2018-08-07 14:58] xyhuang opened #64 "tf-cnn workload refactoring"
the workload should consist of 2 parts: runner and output processor, each corresponds to a step as in #50. The runner will run the main tf-cnn job, and save useful results/logs in a shared output directory, the output processor will read from the output directory and compile a json file. We can assume that the shared directory are mounted by the workflow and can be accessible via $KUBEBENCH_OUTPUT

[2018-08-09 10:58] xyhuang commented on #64
/priority p1

[2018-08-10 14:20] jlewi commented on #64
Per #39 adding this to 0.3.0

[2018-08-10 14:20] jlewi commented on #39
@xyhuang Can you tag all the issues for the 0.3.0 release with 0.3.0 and then close out this issue?

[2018-08-10 19:28] #61 closed

[2018-08-10 21:28] xyhuang opened #66 "improve ksonnet prototype for kubebench-job"
so as to adapt to the improved workflow as in #50.

[2018-08-10 21:29] xyhuang commented on #66
/priority p1

[2018-08-10 21:36] xyhuang commented on #39
@jlewi done.
closing this as suggested.

[2018-08-10 21:36] #39 closed

[2018-08-10 21:46] xyhuang commented on #54
@jckwon sorry for the late response... we have pushed a new image of the configurator to fix the issue. you may set the config_image parameter in kubebench-job component to point to the new image: i.e.
[code]
instead of this in the previous README:
[code]
Please note that the current codes of kubebench are in experimental stage, and as we work towards our first release, some breaking changes might

[2018-08-13 21:29] xyhuang commented on #66
/assign

[2018-08-13 21:37] xyhuang opened #69 "New Dockerfile and image for refactored controller codes"
Create dockerfile and push image for refactored controller functionalities (configurator + reporter for now). It would be more convenient to include all in a single image.

[2018-08-13 21:37] xyhuang commented on #69
/assign

[2018-08-13 21:38] xyhuang commented on #69
/priority p1

[2018-08-13 23:45] swiftdiaries opened #70 "Create travis or tests for common code patterns and practices."
Add tests for golint, govet, gofmt etc..
Basically, address things thrown by goreport: https://goreportcard.com/report/github.com/kubeflow/kubebench.

[2018-08-14 16:44] swiftdiaries opened #71 "Create a thorough development guide."
Make it easy for people to start contributing / develop.

[2018-08-14 18:48] xyhuang opened #73 "Simplify installation of needed resources"
We can provide a jsonnet package to install all related resources in order to get user started (while for advanced user they can still use their own without running this installation). The package can include followings:
- secrets (if specified): github token, gcp creds
- nfs service: include an nfs server and corresponding service
- volume: nfs pv & pvc

[2018-08-14 18:54] xyhuang commented on #63
this was fixed by #67

[2018-08-14 18:54] #63 closed

[2018-08-17 01:36] xyhuang commented on #70
/priority p2

[2018-08-17 01:36] xyhuang commented on #71
/priority p2

[2018-08-17 02:28] xyhuang commented on #73
/priority p1

[2018-08-17 02:57] xyhuang commented on #69
/unassign @xyhuang

[2018-08-17 03:16] ramdootp commented on #69
/assign

[2018-08-17 03:26] ramdootp commented on #69
@jlewi I will be contributing to kubebench, cant assign the issue myself. Can you please add me to the kubeflow members

[2018-08-21 07:00] xyhuang opened #76 "Missing dependency under /vendor/github.com"
This is probably caused by local .gitignore ignored the files by mistake.

[2018-08-21 07:00] xyhuang commented on #76
/assign

[2018-08-21 10:09] #69 closed

[2018-08-24 07:31] #76 closed

[2018-08-28 22:41] xyhuang commented on #20
@jlewi yes this is in scope of 0.3, we will run some benchmarks once code is fully done, and can share some example results if needed.
1 question: im not sure what's proper way to share the results, would you like to keep it with the repo or separately?

[2018-08-29 00:01] xyhuang commented on #73
/assign

[2018-08-29 00:11] xyhuang opened #80 "Configurator should generate experiment id and create proper directory structure automatically"
The cofigurator should create an experiment id for each job deployment (or use what user provides in there job config), and create the following structure in the supplied experiments pvc:
[code]

[2018-08-29 00:12] xyhuang commented on #80
/priority p1

[2018-08-29 00:18] xyhuang opened #81 "Configurator should automatically modify kf job manifest with volume mounts and env vars"
the configurator need to provide volume information and environment variables to the kubeflow jobs, this can be done through modifying the generated manifest.

[2018-08-29 00:18] xyhuang commented on #81
/priority p1

[2018-09-02 22:28] xyhuang opened #85 "Configurator should retrieve config through a path relative to config's mounting point"
Currently configurator assumes an absolute path for input config files, this is both inconvenient and buggy. User should not need to have the knowledge of where we mounted the config volume to specify their config files.  We should let configurator use a config file path that is relative to the root of user's config volume.

[2018-09-02 22:28] xyhuang commented on #85
/priority p1

[2018-09-02 22:33] xyhuang opened #86 "CSV reporter should access the input/output files through relative path"
The CSV reporter currently assumes an absolute path. User should not need to have knowledge of the mount point of experiment volumes. We should let the CSV reporter to:
- retrieve the input file through a path relative to $KUBEBENCH_EXP_RESULT_DIR under experiments volume
- write the output file through a path relative to $KUBEBENCH_EXP_ROOT under experiments volume

[2018-09-02 22:33] xyhuang commented on #86
/priority p1

[2018-09-02 22:47] xyhuang commented on #48
As of #74 the current status of refactored API is slightly updated and it now looks like the followings:

1st tier (workflow):
[code]

2nd tier (workload):
[code]

This issue can be closed once #74 is merged.
We can open a new issue if future modification is required.

[2018-09-02 22:51] xyhuang opened #87 "Controller image build failed"
Shows following error:
[code]
we need to give an "apk --update" when installing package.

[2018-09-03 05:35] xyhuang opened #88 "Create release workflow"
We need to have a release workflow.

[2018-09-03 05:36] xyhuang commented on #88
/priority p1

[2018-09-03 19:33] #50 closed

[2018-09-03 19:54] xyhuang commented on #48
Closing the issue as the changes are implemented. Open a new issue for future changes.

[2018-09-03 19:54] #48 closed

[2018-09-03 19:55] xyhuang commented on #87
/priority p1

[2018-09-03 20:07] #64 closed

[2018-09-03 20:28] #80 closed

[2018-09-03 20:28] #85 closed

[2018-09-03 20:28] #86 closed

[2018-09-03 20:29] jlewi commented on #20
What is results in this context? Is it models? Or is it just metrics e.g. accuracy after so many steps?

Large data files (e.g. models) should can be published via GCS but not checked into source control. Small files; e.g. a text or markdown file can be checked into source control.

[2018-09-03 20:53] #87 closed

[2018-09-03 21:39] xyhuang commented on #66
Closing the issue as it was addressed by #74.

[2018-09-03 21:39] #66 closed

[2018-09-03 21:39] xyhuang commented on #81
/assign

[2018-09-04 16:09] amsaha commented on #88
@xyhuang do we know what is involved in a release?

[2018-09-04 17:16] amsaha commented on #88
@johnugeorge says this is what was done for pytorch:

- https://github.com/kubeflow/kubeflow/tree/master/releasing
- https://github.com/kubeflow/kubeflow/tree/master/releasing/pytorch-operator

[2018-09-06 00:41] xyhuang commented on #20
The results are metrics, e.g. images/sec, or time needed to reach x accuracy, etc.

[2018-09-09 22:26] xyhuang commented on #20
/priority p1

[2018-09-09 23:11] xyhuang opened #91 "Delete the associated Kubeflow job when deleting Kubebench workflow"
Right now if user deletes the kubebench workflow, the kubeflow job launched by the workflow will remain. This may cause resource leakage. We should let the job be delete along with the workflow.

[2018-09-09 23:11] xyhuang commented on #91
/priority p1

[2018-09-09 23:15] xyhuang commented on #34
This has been addressed.

[2018-09-09 23:15] #34 closed

[2018-09-09 23:15] xyhuang commented on #33
This has been addressed.

[2018-09-09 23:15] #33 closed

[2018-09-09 23:15] xyhuang commented on #32
This has been addressed.

[2018-09-09 23:15] #32 closed

[2018-09-10 01:25] xyhuang opened #93 "Configure post job the same way as the main kubeflow job"
Currently the benchmarking kubeflow job is configured through config file, while the post processor is configured through ksonnet with limited functionality (only allows image and commands). Letting the post processor be configured same way as kubeflow job makes it more consistent and also helps to make the post processor fully functional. We can allow post job to be specified in any way that conf

[2018-09-10 01:34] xyhuang opened #94 "Allow user to use k8s manifest files directly for experiments"
Right now, we have a kubebench-specific config format that lets user specify the template reference (i.e. ksonnet pkg) and corresponding parameters to use in an experiment. The configurator will automatically generate the job manifests with kubebench-specific mixins. While this is useful, some user might not want to manage their configs in this particular way. We should provide the possibility for

[2018-09-10 19:11] #60 closed

[2018-09-10 19:11] #81 closed

[2018-09-10 19:11] #91 closed

[2018-09-11 06:00] xyhuang opened #95 "Decoupling ks prototype info from experiment config file"
Currently the experiment config looks like [this](https://github.com/kubeflow/kubebench/blob/master/examples/config/tf-cnn/tf-cnn-dummy.yaml), it forces user to pin a specific ksonnet prototype. While this may simplify kubebench job config (by simply pointing to a single config file vs specifying different info separately), it might have some downsides: e.g.
- coupling the prototype with parameter

[2018-09-13 02:42] xyhuang opened #96 "Add service account and role bindings to installation"
We should provide an installation that creates service account and role bindings for convenience of running jobs, else user have to create their own for the job to run properly.

[2018-09-13 07:01] xyhuang opened #97 "Reporter to auto search result file in result directory"
Currently user have to manually specify the output file for reporter to consume, we can let reporter to automatically search for the result file in the result directory (use the first .json file it finds). This should work in most common cases since the single json file is supposed to be the only file in that dir unless otherwise customized. We can still retain the manual file specification to all

[2018-09-13 10:34] xyhuang opened #99 "cannot use local ksonnet registry for experiments"
The configurator does not pull local registry from a relative path, making it hard for user to specify a local package to run experiments. This should be fixed in configurator where a path relative to KUBEBENCH_EXP_CONFIG_PATH is used for local registry.

[2018-09-13 18:31] #95 closed

[2018-09-13 21:10] #73 closed

[2018-09-13 21:29] swiftdiaries opened #102 "Add more detailed README."
A "from scratch" README so that users can follow a walkthrough for getting kubebench up and running.

[2018-09-15 02:29] #96 closed

[2018-09-15 02:50] xyhuang opened #106 "Add more example benchmark configs"
We need to add more example configs to the tf-cnn example.

[2018-09-15 07:53] amsaha commented on #102
Amen to that :-)

[2018-09-16 22:12] xyhuang opened #109 "Support benchmarking PyTorchJob"
The support can be added through configurator/manifest_modifier.

[2018-09-17 07:31] #109 closed

[2018-09-18 21:14] andreyvelich opened #112 "Services "kubebench-nfs-svc" not found"
I'm following the installation guide for Kubebench.
[code]
But I got this ERROR:
[code]

[2018-09-18 21:14] andreyvelich commented on #112
/assign

[2018-09-21 00:42] xyhuang opened #115 "configurator attempts to set wrong experiment id"
the configurator is using the whole config file path to set as experiment id, causing error due to invalid characters. We should use only the file name and auto replace invalid characters.

[2018-09-21 00:42] xyhuang commented on #115
/assign

[2018-09-22 10:17] #112 closed

[2018-09-23 03:45] Akado2009 opened #117 "Kubebench crd"

[2018-09-23 09:34] gaocegege commented on #117
Could you please add more details about the issue?

[2018-09-23 18:44] #115 closed

[2018-10-01 10:25] xyhuang opened #122 "TF-CNN example GPU image not working properly on GKE"
This seems to be related to special requirement of GPU images for GKE: https://cloud.google.com/kubernetes-engine/docs/how-to/gpus The image was tested and working fine on a local on-prem environment. We might need to either build a dedicated image for GKE to see or find a workaround.

[2018-10-01 10:34] xyhuang commented on #117
@gaocegege we were in discussion of creating a kubebench crd to wrap around Argo API. I briefly mentioned the idea on the community meetup, I will post a more formal proposal about this for discussion. The basic idea is to create a dedicated kubebench API that wraps around the Argo workflow. This way we could get rid of the complex ksonnet package we are currently using to create the workflow, and

[2018-10-01 13:29] jlewi commented on #20
@xyhuang What's the status of this? If its not done we should probably move this to 0.4.0 because we are finalizing 0.3.

[2018-10-01 17:45] xyhuang commented on #20
@jlewi i think we can close this now. We have a user guide that can serve as a generic tutorial (https://github.com/kubeflow/kubebench/blob/master/doc/user_guide.md). We also have an example config that can be easily customized (https://github.com/kubeflow/kubebench/blob/master/examples/config/tf-cnn/tf-cnn-dummy.yaml).

[2018-10-01 17:55] xyhuang commented on #20
/close

[2018-10-01 17:55] #20 closed

[2018-10-04 02:03] xyhuang commented on #122
/assign @ramdootp

[2018-10-04 02:06] xyhuang commented on #30
/area 0.4.0

[2018-10-04 02:10] xyhuang commented on #30
/label area/0.4.0

[2018-10-04 02:35] xyhuang commented on #30
/assign @ramdootp

[2018-10-09 10:05] xyhuang opened #123 "[Proposal] Kubebench CRD design"
## Motivation

The purpose of Kubebench CRD is:

- Currently we use Argo workflow directly as top level API, creating a wrap around Argo API helps to provide a benchmark specific config without need for knowledge of Argo.
- The current API depends on ksonnet prototype, the simple key-value style parameters are not sufficient to support more sophisticated configurations of kubebench job. A yaml-sty

[2018-10-09 10:07] xyhuang opened #124 "Results visualization and integration with logs/metrics systems"
We need a solution for visualizing Kubebench job results and cluster/job metrics during the benchmark runs. One possible way could be integrating with Prometheus/Grafana for the metric collection and visualization.

[2018-10-09 10:09] xyhuang opened #125 "Kubebench dashboard"
We need a simple UI to improve user experience.
The UI should be able to provide a dashboard that supports CRUD of kubebench job, and ideally should provide way to link to results and metrics collected during the benchmark run.
The UI should also be able to integrate with Kubeflow's central dashboard.

[2018-10-09 23:15] xyhuang commented on #125
/priority p1

[2018-10-09 23:15] xyhuang commented on #124
/priority p1

[2018-10-09 23:16] xyhuang commented on #123
/priority p1

[2018-10-09 23:16] xyhuang commented on #30
/priority p1

[2018-10-09 23:24] xyhuang opened #126 "Support scalability tests"
The Kubebench should be extended to support scalability tests in 2 ways:

- run a job with many workers
- run many jobs in parallel

It should also be able to collect metrics during the runs and make it easy to analyze the results, refer to #124 for this.

Also related with
https://github.com/kubeflow/tf-operator/issues/830

[2018-10-09 23:57] xyhuang commented on #124
/assign @andreyvelich

[2018-10-09 23:58] xyhuang commented on #123
/assign @Akado2009

[2018-10-10 00:00] xyhuang commented on #117
a proposal has been made in #123. we can close this and move discussion to there.

[2018-10-10 00:00] #117 closed

[2018-10-25 02:45] ramdootp commented on #122
Fixed in #129

[2018-10-25 02:45] #122 closed

[2018-10-25 23:02] #124 closed

[2018-11-02 09:12] ramdootp commented on #62
https://github.com/argoproj/argo/issues/702
https://github.com/argoproj/argo/issues/763

argo's event management support would be needed for a cleaner solution.

[2018-11-02 09:14] ramdootp commented on #62
Precisely this might help- https://github.com/argoproj/argo/issues/763#issuecomment-381805052

[2018-11-02 21:49] jbottum commented on #30
/remove-priority p1
/priority p2

[2018-11-02 21:49] chrisheecho commented on #30
/remove-area/0.4.0
/area/0.5.0

[2018-11-02 21:50] chrisheecho commented on #30
/label:area 0.5.0

[2018-11-02 21:53] chrisheecho commented on #30
/area/0.5.0

[2018-11-04 00:01] jbottum commented on #125
/priority p2

[2018-11-04 00:06] jbottum commented on #126
/priority p2

[2018-11-06 00:14] chrisheecho commented on #125
This made it into Todo for 0.4.0 in intial pass from Google Eng team. assuming eng resource is allocated, removing p2

[2018-11-06 00:14] chrisheecho commented on #125
/remove-priority p2

[2018-11-06 00:16] chrisheecho commented on #126
No eng resource assigned, priority 2

@xyhuang are you planning to take this on? if so, if you can assign yourself and please tag us so that PMs can add this to the kanban board

[2018-11-06 00:16] chrisheecho commented on #126
/remove-priority p1

[2018-11-15 19:59] andreyvelich opened #135 "Change monitoring system"
Monitoring system has a problem with connection between Grafana and Prometheus right now.
We need to integrate Prometheus operator to this system and add crd to monitoring packages for Prometheus and Service monitor.

[2018-11-17 14:13] xyhuang commented on #125
/assign @Akado2009 @andreyvelich

[2018-11-17 14:15] xyhuang commented on #125
@chrisheecho i have updated the assigned eng resource, we have an initial prototype now and we are planing to merge it by 0.4.
Apologies for the late response as I was busy with other deadlines and KubeCon Shanghai.

[2018-11-17 14:20] xyhuang commented on #126
@chrisheecho sorry for the late response. I will try to implement this if I got time, but we might likely move it to 0.5, I agree to keep it as p2 for now.

[2018-11-17 14:22] xyhuang opened #136 "Support TFJob/PyTorchJob v1beta1"
As the TFJob and PyTorchJob move to v1beta1, we should keep sync of the changes.

[2018-11-20 05:41] xyhuang opened #138 "Build image for CRD"
We need to create image building scripts for the kubebench CRD and add that to e2e so the image can be published.

[2018-11-20 06:12] Akado2009 commented on #138
@xyhuang Assigned to me.

[2018-12-04 00:08] #125 closed

[2018-12-04 00:08] #135 closed

[2018-12-04 22:13] xyhuang opened #142 "Add CRD tests to e2e"

[2018-12-04 22:14] xyhuang commented on #142
/assign @Akado2009

[2018-12-12 01:07] jinchihe opened #147 "Failed to install kubebench due to kubebench nfs deploy failed"
Install kubebench by following Readme file, but failed, that's caused the nfs cannot be deployment, please see below for details.

# kubectl -n kubeflow describe replicaSet kubebench-nfs-deploy-776496876f |tail -n 5
  ReplicaFailure   True    FailedCreate
Events:
  Type     Reason        Age                From                   Message
  ----     ------        ----               ----

[2018-12-12 01:12] jinchihe commented on #147
Checked the problem, that should be caused by the the serviceaccount has no privileged security policy, see below.

[code]

Suggest that ensure the pod security policy in the install script before deploy nfs. Thanks.

[2018-12-12 01:31] jinchihe commented on #147
worked around solution:
[code]

But I think we should better to update install script to ensure that automatically.

[2018-12-12 03:28] jinchihe opened #150 "Failed to run benchmark example due to wrong path for config file"
Failed to run benchmark example due to wrong path for config file, see below for details.

[code]

[2018-12-12 03:32] jinchihe commented on #150
Should be wrong path for example configuration file. In nfs, the reasonabe path should be kubebench/config/tf-cnn/tf-cnn-dummy.yaml

[code]
The problem can be worked around to copy the config file /exports/kubebench/config/ in NFS.
 Need to fix the issue to ensure example flow works normally.

[2018-12-12 05:58] jinchihe commented on #150
Seems the location of config file in kubebench repo /examples/config/tf-cnn/tf-cnn-dummy.yaml is not consistent with codes. Update the example configuration file location to fix the issue?

[2018-12-12 23:57] andreyvelich commented on #147
@jinchihe Can you show me your PodSecurityPolicy?

[2018-12-13 07:28] xyhuang opened #153 "Clean up legacy codes"
We have some legacy codes as well as old ks packages left in the repo that are no longer needed. we should clean them up.

[2018-12-13 07:32] xyhuang opened #154 "Readme is pointing to old kubebench-job package"
The kubebench-job package has been moved to [kubeflow/kubeflow](https://github.com/kubeflow/kubeflow/tree/master/kubeflow/kubebench) and the existing one in this repo is no longer updated. However the readme is still pointing to the old package.
We need to update readme so as to install kubebench-job from the new package location.

[2018-12-13 07:33] xyhuang commented on #150
created #154 and closing this.

[2018-12-13 07:33] #150 closed

[2018-12-13 08:07] jinchihe commented on #147
@andreyvelich

Below is PodSecurityPolicy which has been modified as above steps. Thanks.

[code]

[2018-12-17 14:53] jlewi commented on #123
@Akado2009 What's the current status? We will be cutting 0.4 this week.

[2018-12-17 19:42] xyhuang commented on #123
@jlewi we are debugging an issue in image testing failure, the ks package will be updated right after image built. we are trying to get them done by today or early tomorrow...

[2018-12-17 23:19] andreyvelich opened #155 "Kubebench operator ks package"
We need to create ksonnet package for kubebench operator.

[2018-12-17 23:19] andreyvelich commented on #155
/assign

[2018-12-19 00:01] xyhuang opened #157 "FastAI Dawn bench on kubeflow"
Refer to https://github.com/kubeflow/kubeflow/issues/2119 for the request. Investigate and support this on kubebench.

[2018-12-19 02:41] xyhuang commented on #30
/label area/0.5.0

[2018-12-20 18:42] xyhuang commented on #155
duplicate of https://github.com/kubeflow/kubeflow/issues/2110

[2018-12-20 18:42] #155 closed

[2018-12-20 18:47] xyhuang commented on #123
Addressed by #132, please file new issues for future improvements.

[2018-12-20 18:47] #123 closed

[2019-01-08 00:49] richardsliu commented on #126
@xyhuang @swiftdiaries

Let's try to have this for 0.5.

A few things to consider:
1. How should we automate this?
I think it makes sense to create a periodic Prow workflow that runs this daily. We should use a separate GCP project so that the scale tests don't interfere with regular presubmits.

2. What tests should we run?
As a starting point we can consider these items for tf-operator:
- Lots o

[2019-01-08 16:08] richardsliu commented on #126
Let's split up the work. I can take care of item 1 (set up project, cluster, and Prow workflow).

[2019-01-21 07:32] Jeffwan opened #161 "Gofmt should not check vendor files"
Notice current verify scripts verify vendors files and it's blocking code checking in.

https://github.com/kubeflow/kubebench/blob/37ffc2f226f01ae862bc44cbcf5e5464f824bf2c/hack/verify-gofmt.sh#L3

[2019-01-22 01:53] Jeffwan commented on #161
PR got merged. I will close this issue

[2019-01-22 01:53] #161 closed

[2019-01-22 20:12] #154 closed

[2019-01-23 00:49] #153 closed

[2019-01-24 18:51] xyhuang opened #163 "Support deploying many kubeflow jobs concurrently"
- Need a multi-job launcher. We currently use the resource executor that comes with Argo, which is not able to handle multi job creations in parallel. We need a custom resource executor for that.
- API changes. The API should have a field to specify number of jobs to launch in parallel.

related with #126.

[2019-01-24 21:39] xyhuang commented on #37
related with #126

[2019-02-05 22:46] Jeffwan opened #164 "kubebench-job doesn't exist in kubebench registry"
I follow the instruction and experience an issue

[code]

Look at package list, it's still there. Seems ksonnet registry.yaml has not been updated in https://github.com/kubeflow/kubebench/pull/158. I will submit a PR to fix this issue.
[code]

[2019-02-06 05:54] Jeffwan commented on #164
PR merged and this issues has been resolved.

[2019-02-06 05:54] #164 closed

[2019-02-06 06:08] Jeffwan commented on #37
@xyhuang  I plan to add S3 reporter. Do you want me to Create a separate issue to track it just sync status here?

[2019-02-06 06:14] Jeffwan commented on #19
Could I take this task? I am recently doing benchmark using openmpi and like to add support in kubebench

[2019-02-06 06:21] xyhuang commented on #18
Closing this as it has been addressed. Please open new issues for any related problems.

[2019-02-06 06:21] #18 closed

[2019-02-06 19:44] xyhuang commented on #19
hi @Jeffwan that's great, and thanks for your interest! We have some planned changes that might affect the implementation and I am expecting to post an updated design in a week or so. Please feel free to ping on slack if you would like to have a quick chat before that. thanks, and looking forward to collab :)

[2019-02-07 21:41] xyhuang commented on #37
@Jeffwan Please feel free to open a new issue and sync here. As mentioned in other issue, we will commit some design improvements soon and it will be great if we can have this feature in sync. Please feel free to let me know if you want to chat about the changes before the doc goes out. thanks.

[2019-02-10 01:07] Jeffwan opened #166 "Add MPIJob Support in kubebench"
A few things to add support for [mpi-job] (https://github.com/kubeflow/kubeflow/tree/master/kubeflow/mpi-job)

1. Update rbac to grant kubebench service account permission to operate mpi jobs PR. https://github.com/kubeflow/kubeflow/pull/2442
2. Add mpijob_manifest_modifier to update manifest files
3. Add customized post_processor for MPI Job. Retrieving logs part is tricky, instead of using runne

[2019-02-10 01:07] Jeffwan commented on #166
for item 2, will clean up code and submit PR soon.

[2019-02-10 01:08] Jeffwan commented on #166
/cc @Jeffwan

[2019-02-10 01:08] Jeffwan commented on #166
/assign @Jeffwan

[2019-02-11 00:16] Jeffwan commented on #166
Just remember we already have one to track status. #19  Close this one as duplicate

[2019-02-11 00:16] #166 closed

[2019-02-11 00:46] Jeffwan commented on #19
Add PR #167 to add MPI support.

[2019-02-22 17:03] #138 closed

[2019-02-26 22:53] xyhuang opened #171 "Workload k8s resource manager from workflow"
We need to be able to perform certain high level actions to user defined workload resources (e.g. tfjobs, etc.) from inside a workflow. The resource manager should be executed as one or more steps in the workflow, each performs a given action and exits on completion. The following actions are required for now:

- creates a list of resources from a yaml manifest file (can be multi-doc)
- automatica

[2019-02-26 22:54] xyhuang commented on #163
Move to #171 instead.

[2019-02-26 22:54] #163 closed

[2019-02-26 22:55] xyhuang commented on #171
/assign

[2019-02-27 03:58] xyhuang opened #173 "[WIP] Kubebenchjob API v1alpha2"

[2019-03-04 14:23] Kapalov opened #177 "bash cannot execute binary file"
I cannot run kube-bench on linux, I've got an error message
./kube-bench -h
bash: ./kube-bench: cannot execute binary file
----
uname -a
Linux 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
arch
x86_64

[2019-03-04 18:51] Akado2009 commented on #177
@Kapalov Greetings! I beg your pardon, but you must have confused two different projects. Ours is kubebench, but you are probably referring to https://github.com/aquasecurity/kube-bench .

[2019-03-12 23:36] #177 closed

[2019-04-10 00:10] swiftdiaries commented on #22
Bumping this because we have v0.5 results from MLPerf out.
https://mlperf.org/results/

[2019-04-27 01:58] xyhuang opened #188 "Support inputs/outputs in tasks"
We want to support inputs/outputs in the tasks so that data can be transposed from/to external data sources (e.g. object storage). The inputs/outputs fields should be added under the task object, for "container" typed tasks it should directly map to the inputs/outputs fields in the Argo CRD, while for "resource" typed tasks, an additional "container" task should be added automatically by the workf

[2019-04-29 09:38] xyhuang opened #189 "Doc and user guide for CRD and v1alpha2 API"
With the introduction of the new Kubebench CRD, there have been major changes to the way that Kubebench is being used, the design doc and user guide need to be reworked to keep up with the changes.

[2019-04-29 09:41] xyhuang opened #190 "Improve testing"
As the current version of Kubebench become more stabled we need to improve testing, add back unit tests and e2e tests.

[2019-04-30 07:15] xyhuang opened #191 "Move to go module"
Use go module instead of dep.

[2019-04-30 07:28] xyhuang opened #192 "Add experiment initializer to workflow agent"
Create an initializer cmd inside workflow agent. The initializer should be responsible for initializing the directories in the attached volumes. Move the initialization functionality from configurator to initializer.

[2019-05-09 21:05] xyhuang opened #194 "Update image build in e2e for v1alpha2 components"
We need to have images built for:
- new v1alpha2 operator
- workflow agent (to replace old controller image)

stop building images for:
- controller

[2019-05-09 21:08] xyhuang opened #195 "Add back support for TFJob, PyTorchJob, MPIJob in v1alpha2"
The supports for TFJob, PyTorchJob and MPIJob are not complete in the new v1alpha2 codes. We need to add back these support. Required changes for each framework:

- Add manifest modifier
- Add condition checker

[2019-05-09 21:09] xyhuang opened #196 "Add support for url config source"
We should be able to download a manifest directly from a url.

[2019-05-09 21:10] xyhuang opened #197 "Add support for Kustomize config source"
We should be able to generate a resource manifest from a Kustomize path.

[2019-05-09 21:31] Akado2009 commented on #194
/assign @Akado2009

[2019-05-09 21:33] Akado2009 commented on #191
/assign @Akado2009

[2019-05-09 21:33] Akado2009 commented on #196
/assign @Akado2009

[2019-05-09 21:38] xyhuang opened #198 "Migrate tf-cnn exampe to v1alpha2"
The tf-cnn benchmark example needs to be reworked to fit in v1alpha2.

[2019-05-09 21:38] xyhuang commented on #189
/assign

[2019-05-09 21:38] xyhuang commented on #188
/assign

[2019-05-09 21:39] xyhuang commented on #173
/assign

[2019-05-14 21:33] Akado2009 commented on #191
@xyhuang  I suggest we close it.

[2019-05-15 21:45] xyhuang commented on #191
Addressed by #199
/close

[2019-05-15 21:45] #191 closed

[2019-05-16 21:20] #194 closed

[2019-05-29 22:07] xyhuang commented on #171
addressed by #172

[2019-05-29 22:07] #171 closed

[2019-05-31 22:56] Akado2009 commented on #195
/assign @Akado2009

[2019-06-17 10:28] Feelas commented on #62
anyone?

[2019-06-17 10:29] Feelas commented on #17
is this still an open issue and is this being handled?

[2019-06-25 22:27] Akado2009 opened #204 "Duplicates in parameters stop job from working."
If generated manifests if you have duplicates, it will stop your job from working.

Need to fix manifestMod to make it able to delete duplicates.

[2019-11-08 00:06] ddutta commented on #22
Resurrecting an old issue.

On Tue, Apr 9, 2019 at 5:10 PM Adhita Selvaraj <notifications@github.com>
wrote:

--
-Debo~

[2020-05-20 01:49] pingsutw opened #211 "kubebench package install error"
I follow this [guide](https://www.kubeflow.org/docs/started/workstation/minikube-linux/) to install kubeflow on my single ubuntu18.04 machines, and I want to try `kubebench` but I got bellow error
[code]
Below are the commands I ran
[code]
Error messgae
[code]

[2020-05-20 03:15] pingsutw commented on #211
After Downgrade Kubernetes version 1.14.3, it works.
I think it's related to https://github.com/kubeflow/kubeflow/issues/3544

[2020-05-20 05:46] pingsutw opened #212 "kubeflow registry not found"
`ks registry add kubeflow github.com/kubeflow/kubeflow/tree/master/kubeflow`
Error messgaes
[code]
We should use a specific version of kubeflow

[2020-06-28 06:58] pingsutw commented on #212
/cc @xyhuang

[2020-07-13 20:21] xyhuang commented on #212
as ksonnet is reaching EOL we are no longer using it for the deployment. we are aware that the doc is out of date and no longer work with the current kubeflow. sorry for the inconvenience as we work through the changes in kubeflow. we expect to update the doc and project in the near future.

[2021-02-10 00:16] yanniszark opened #216 "Kubebench: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-03-23 11:26] #216 closed